h1{
    font-size: 18px;
    padding: 8px;
    color: var(--ion-color-primary);
}

.offer-details{
    display: flex;
    align-items: center;
}

.space-left{
    margin-left: 5px;
}

.space-between{
    margin-left: 5px;
    margin-right: 5px;
}